html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: sans-serif;
  overflow: hidden;
  font-family: normalidad-wide, sans-serif;
}

#album-container {
  position: relative;
  width: 80%;
  max-width: 1400px;
  height: auto;
  margin-top: -50px;
}

#album-container2 {
  position: relative;
  width: 70%;
  max-width: 1400px;
  height: auto;
  margin-top: -50px;
}

#background {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
  pointer-events: none;
}

#sticker-bar {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sticker-bar img {
  max-height: 80px;
  width: auto;
  cursor: grab;
}

.sticker-wrapper {
  position: absolute;
  display: inline-block;
  cursor: grab;
  user-select: none;
}

.sticker-wrapper img {
  display: block;
}

.resize-handle {
  width: 15px;
  height: 15px;
  background: #37539c;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.delete-handle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.toolbar {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* separa izquierda y derecha */
  align-items: center;
  padding: 0 20px; /* margen lateral */
}

.toolbar-left,
.toolbar-right {
  display: flex;
  gap: 10px; /* separación entre botones */
}

.btn { 
  padding: 8px 12px;
  background: #37539c;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}


.title {
  position: absolute;
  top: -100px;
  left: 0;
  padding: 8px 12px;
  color: #37539c;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 20px;
}

.sticker {
  filter: drop-shadow(5px 23px 15px #0000001e);
}

@font-face {
  font-family: "normalidad-wide";
  src: url("https://use.typekit.net/af/1c559f/00000000000000007735e81d/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1c559f/00000000000000007735e81d/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1c559f/00000000000000007735e81d/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: 60px; /* más espacio entre ellas */
  margin-bottom: 20px;
}

.image-grid img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 4px solid #37539c;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}


.image-grid img:hover {
  transform: scale(1.05); /* 5% más grande */
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #37539c;
  letter-spacing: 2px;
}

.main_container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

h1 {
  color: #37539c ;
}
